#Intro{
    position:relative;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    left: 10px;
}

#outerpanel{
    font-family: 'Roboto', sans-serif;
    position:relative;
    margin:auto;
    top: 10px;
    overflow-x:scroll;
    width: 95%;
    overflow-y: hidden;
    border: 1px solid green;
}

th.alg, td.alg{
    word-wrap:break-word;
    width:300px;
}
th,td{
    padding-bottom: 15px;
    padding-left: 15px;
}