#Intro{

    font-family: 'Roboto', sans-serif;
    font-size:16px;
    left: 10px;
    top: 10px;
}

#result{
    overflow-x:scroll;
    width: 480px;
  height: 140px;
     overflow-y: hidden;
     border: 1px solid green;

}

div.alg{
  width: 200px;
  height: 92px;
  margin:10px 10px 50px 10px;
  display: inline-block;
}
.inner {
  height: 100%;
  white-space:nowrap;
}