.Intro{
    position:relative;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    left: 30px;
    margin-right: 80px;
    text-align: center;
}

#wrapper, #outerpanel, #wrapper1, #outerpanel1, #wrapper2, #outerpanel2{
    font-family: 'Roboto', sans-serif;
    position:relative;
    margin:auto;
    top: 25px;
    overflow-x:scroll;
    width: 95%;
    overflow-y: hidden;
    border: 1px solid green;
}
#wrapper, #wrapper1, #wrapper2{height: 20px; }
#wrapperdiv, #wrapperdiv1, #wrapperdiv2 {width:1860px; height: 1px; }

table{
border:none;
border-collapse: collapse;
}

th.alg, td.alg{
    word-wrap:break-word;
    width:300px;
}

th{
    font-size:20px;
}

th,td{
    padding-bottom: 15px;
    padding-left: 15px;
    text-align:left;
    vertical-align:top;
}